body{
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
}
.about-me-pof{
    font-size: 14px;
    font-weight: 24px;
    color: #000;
}
.main-cont{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #FFF;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main content */
.main-content-cont{
    padding: 100px 90px;
}
.about-me-cont{
    margin-bottom: 40px;
}
.about-me-prof{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 20px;
}
.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin:  0 0 25px 0;
}
.about-me-descript{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
    }

.my-projects-cont{
    margin-bottom: 40px;

}
.my-projects-list{
    padding: 0 0 0 17px;
    font-weight: bold;
}
.bracket{
    font-weight: bold;
}
.project-list-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}
.project-list-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* My Work EPX */
.my-work-comp{
    margin: 0 0 20px 0;
}
.my-work-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 10px 0 10px 0;
}
.my-works-comp{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
} 
.date {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}
.line{
    color: #000;
}
.my-work-list{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding: 0 0 0 15px;
}
.title-about{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000; 
    margin-bottom: 10px;
    }
    /* education content */
.education-uni{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 10px 0 10px 0;
}
.edutacion-position{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 10px 0;
}
/* sidebar container */
.side-cont{
    background-color: #394e6d;
    width: 370px;
    padding: 40px 0;
}
.contacts-cont{
margin: 50px 0 0 45px;
}
.tech-skills-cont{
margin: 50px 0 0 45px;
}
.soft-skills-cont{
margin: 45px 0 0 45px;
}
.side-title{
font-style: normal;
font-weight: bold;
font-style: 22px;
line-height: 27px;
color: #ffffff;
margin-bottom: 10px;
}
.img-side{
    width: 370px;
}
/* contacts container*/
.side-title-type{
    font-weight: bold;
    font-style: 22px;
    line-height: 27px;
    color: #fff;
    margin-right: 5px;
}
.side-title-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}
.skills-list{
    padding-left: 18px;
    color: #FB6D3A;
}
.skills-list-text{
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}